/*Styling the body */	
body {
	background-image: url("fa3 pic.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
  background-size: cover;
}

/*Styling the heading (h1) */
h1 {
        text-align: center;
	background-color: #7EA2B4;
        font-family: "Times New Roman";
	border: 2px dotted blue;
        padding: 10px 15px;
	width: 250px;
        margin: 0 auto 20px;
}

/*Styling the paragraph (p) */
p {
       text-align: justify;
	background-color: #0B1919;
        font-family: "Times New Roman";
	padding: 20px;
	border-width: 3px 10px 3px 5px;
 	border-style: solid;
  	border-color: black;
	width: 500px;
        margin: 0 auto;
}

/*Styling the span element */
span {
	font-weight: bold;
	font-style: "Times New Roman";
        color: #0B1919;
